@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

:root {
    --clr-light-blue: #31C3BD;
    --clr-light-blue-hover: #65E9E4;
    --clr-light-yellow: #F2B137;
    --clr-light-yellow-hover: #FFC860;
    --clr-dark-navy: #1A2A33;
    --clr-semi-dark-navy: #1F3641;
    --clr-silver: #A8BFC9;
    --clr-silver-hover: #DBE8ED;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--clr-dark-navy);
    width: 100%;
    min-height: 100vh;
    align-content: center;
}

img {
    display: block;
}

.tiktak {
    width: fit-content;
    margin-inline: auto;
}

.tiktak__logo {
    height: 32px; width: 72px;
    margin-inline: auto;
    margin-bottom: 30px;
}

.tiktak-content {
    width: 327px; height: 205px;

    border-radius: 15px;
    background-color: var(--clr-semi-dark-navy);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 1px #000;
}

.tiktak__title {
    color: var(--clr-silver);
    font-weight: bold;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 1px;
    text-align: center;
}

.tiktak__choose {
    display: flex;
    align-items: center;
    background-color: var(--clr-dark-navy);
    border-radius: 10px;
    height: 72px;
    padding: 10px;
}

.option {
    flex-grow: 1;
    border-radius: 10px;
    cursor: pointer;
    height: 54px;
    color: var(--clr-silver);
    display: grid;
    place-items: center;
}

.option svg {
    object-fit: contain;
    width: 30px;
    height: 30px;
}


.option:hover {
    background-color: var(--clr-silver-hover);
    color: var(--clr-dark-navy);
}

.option--clicked {
    background-color: var(--clr-silver-hover);
    color: var(--clr-dark-navy);
}

.tiktak__note {
    color: var(--clr-silver);
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0.88px;
    font-weight: 500;
    text-align: center;
}

.titak__btns {
    margin-top: 50px;
    display: flex; flex-direction: column; gap: 30px;
}

.btn-tiktak {
    font-family: inherit;
    border: none;
    display: block;
    color: var(--clr-dark-navy);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: auto;
    background-color: var(--clr-silver);
    border-radius: 15px;
    height: 60px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: block;
}


.btn-tiktak--cpu {
    background-color: var(--clr-light-yellow);
    box-shadow: 0 7px 0 #bb8624;
}

.btn-tiktak--cpu:hover {
    background-color: var(--clr-light-yellow-hover);
}

.btn-tiktak--player {
    background-color: var(--clr-light-blue);
    box-shadow: 0 7px 0 #208a86;
}

.btn-tiktak--player:hover {
    background-color: var(--clr-light-blue-hover);
}

/* START GAME */
.main {
    width: 100%;
    min-height: auto;
    border: 1px solid orange;
}

.tiktak__game {
    width: 328px;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.tiktak__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.tiktak__logo--game {
    margin: 0;
}

.tiktak__turn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--clr-semi-dark-navy);
    padding: 0 10px;
    box-shadow: 0 4px 0 #000;
}

.option--now svg {
    width: 20px; height: 20px;
}

.tiktak__turn-text {
    font-size: 14px;
    line-height: auto;
    font-weight: bold;
    letter-spacing: 0.88px;
    color: var(--clr-silver);
}

.tiktak__back {
    width: 40px; height: 40px;
    border-radius: 7px;
    background-color: var(--clr-silver);
    box-shadow: 0 5px 0 #7c8b92;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.tiktak__back:hover {
    background-color: var(--clr-silver-hover);
}

.tiktak__board {
    display: grid;
    grid-template-rows: repeat(3, 96px);
    grid-template-columns: repeat(3, 96px);
    gap: 20px;
}

.cell {
    border-radius: 10px;
    background-color: var(--clr-semi-dark-navy);
    box-shadow: 0 7px 0 #000;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cell:hover {
    transform: scale(1.05);
}

.cell svg {
    width: 43px; height: 40px;
    object-fit: contain;
}

.x {
    color: var(--clr-light-blue);
}

.o {
    color: var(--clr-light-yellow);
}

.cell[data-option='x'][data-correct="win"] {
    background-color: var(--clr-light-blue);
}

.cell[data-option='x'][data-correct="win"] .x {
    color: var(--clr-dark-navy);
}

.cell[data-option='o'][data-correct="win"] {
    background-color: var(--clr-light-yellow);
}

.cell[data-option='o'][data-correct="win"] .o {
    color: var(--clr-dark-navy);
}

.cell[data-option='x'][data-correct='']:hover .x {
    color: var(--clr-dark-navy);
}

.cell[data-option='o'][data-correct='']:hover .o {
    color: var(--clr-dark-navy);
}

.tiktak__results {
    margin-top: 24px;
    display: flex; justify-content: space-between;
    gap: 20px;
}

.result {
    height: 64px;
    width: 96px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    color: var(--clr-dark-navy);
}

.you {
    background-color: var(--clr-light-blue);
}

.ties {
    background-color: var(--clr-silver);
}

.cpu {
    background-color: var(--clr-light-yellow);
}

.tiktak__text {
    font-size: 14px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.88px;
}

.tiktak__count {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: auto;
}

/* FINISH THE GAME SHOWS THE WIN */
.body--finishgame::before {
    content: '';
    background-color: #000000b7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.tiktak__round {
    position: fixed;
    background-color: var(--clr-semi-dark-navy);
    top: 50%; 
    left: 50%;
    width: 100%;
    height: 228px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 2;
    
}


.tiktak__message {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: auto;
    color: var(--clr-silver);
}



.tiktak__who-won {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cell--won svg {
    width: 32px;
    height: 32px;
    vertical-align: baseline;
}

.tiktak__win {
    color: var(--clr-silver);
    font-weight: bold;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 1.5px;
}
.you-lost .tiktak__win {
    color: var(--clr-light-yellow);
}

.you-won .tiktak__win {
    color: var(--clr-light-blue);
}

.tiktak__btns--out {
    display: flex;
    gap: 20px;
}

.btn-quit {
    box-shadow: 0 7px 0 #7c8b92;
    flex-grow: 0;
    min-width: 76px !important;
}

.btn-quit:hover {
    background-color: var(--clr-silver-hover);
}

.btn-next {
    background-color: var(--clr-light-yellow);
    box-shadow: 0 7px 0 #bb8624;
    min-width: 146px !important;
}

.btn-next:hover {
    background-color: var(--clr-light-yellow-hover);
}

.btn-tiktak {
    padding: 0 10px;
}

.you-reset .btn-cancel {
    width: fit-content;
    box-shadow: 0 7px 0 #7c8b92;
    min-width: 146px !important;
}

.btn-cancel:hover {
    background-color: var(--clr-silver-hover);
}

.you-reset .btn-reset {
    width: fit-content;
    min-width: 150px;
    background-color: var(--clr-light-yellow);
    box-shadow: 0 7px 0 #bb8624;
}

.btn-reset:hover {
    background-color: var(--clr-light-yellow-hover);
}

.tiktak__round .tiktak__win[data-text='x'] {
    color: var(--clr-light-blue);
}

.tiktak__round .tiktak__win[data-text='o'] {
    color: var(--clr-light-yellow);
}

.you-lost {
    /* display: flex; */
    display: none;
}

.you-won {
    /* display: flex; */
    display: none;
}

.tied {
    /* display: flex; */
    display: none;
}

.you-reset {
    /* display: flex; */
    display: none;
}

/* Header game */
.tiktak {
    display: block;
    /* display: none; */
}

/* Start game */
.tiktak__game {
    /* display: block; */
    display: none;
}

@media screen and (min-width: 768px) {
    .tiktak {
        width: 460px;
    }

    .tiktak__logo {
        margin-bottom: 40px;
    }

    .tiktak-content {
        width: 100%;
    }

    .titak__btns {
        margin-top: 40px;
    }

    .btn-tiktak {
        min-width: 100%;
    }

    .tiktak__game {
        width: 460px;
    }

    .tiktak__header {
        margin-bottom: 20px;
    }

    .tiktak__logo--game {
        margin: 0;
        height: 32px;
        width: 72px;
    }

    .tiktak__turn {
        width: 140px; height: 52px;
        justify-content: center;
        gap: 5px;
    }

    .option--now {
        width: fit-content;
    }
    
    .option--now svg {
        width: 22px; height: 22px;
        flex-grow: 1;
    }
    
    .tiktak__turn-text {
        flex-grow: 1;
        font-size: 16px;
    }

    .tiktak__back {
        width: 52px; height: 52px;
    }

    .tiktak__board {
        grid-template-rows: repeat(3, 140px);
        grid-template-columns: repeat(3, 140px);
    }

    .cell svg {
        width: 64px; height: 64px;
        object-fit: contain;
    }

    .result {
        flex-grow: 1;
        height: 72px;
    }

    .tiktak__count {
        font-size: 24px;
    }

    .tiktak__round {
        justify-content: center;
        height: 266px;
        gap: 22px;
    }

    .tiktak__message {
        font-size: 16px;
    }

    .tiktak__who-won {
        gap: 20px;
    }

    .cell--won svg {
        width: 64px;
        height: 64px;
    }
    .tiktak__win {
        font-size: 40px;
    }

    .tiktak__btns--out {
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .btn-quit, .btn-next {
        width: fit-content;
    }

}

@media screen and (min-width: 1024px) {
    .option svg {
        width: 32px; height: 32px;
    }

    
}